{% extends "base.html" %}

{% block title%}Signup{% endblock %}

{% block content %}
<main>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="error">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
    
	<div class="login-signup">
		<h2>Member Signup</h2>
		<form method="POST">
			{{ form.hidden_tag() }}

			{{ form.username.label(class="form-label") }}
			{{ form.username(class="form-control") }}

			{{ form.email.label(class="form-label") }}
			{{ form.email(class="form-control") }}

			{{ form.password.label(class="form-label") }}
			{{ form.password(class="form-control") }}

			{{ form.submit(class="btn btn-primary") }}
		</form>
	</div>
</main>
{% endblock %}
