{% extends 'base.html' %}

{% block head %}{{ nameplate.person_name }}{% endblock %}

{% block body %}
<main>
    <div class="nameplate-info">
        <h2>Nameplate: {{ nameplate.person_name }}</h2>
        <p><a href="javascript:window.print()"><i class="fas fa-print"></i> Print</a> | 
           <a href="/nameplates/{{ nameplate.slug }}/edit"><i class="fas fa-pencil-alt"></i> Edit</a> | 
           <a onclick="thePopup();" class="clicky"><i class="fas fa-user-times"></i> Delete</a>
           <div id="delete-popup" class="cd-popup" role="alert">
            <div id="popContainer" class="cd-popup-container">
                <p>Are you sure you want to delete this nameplate?</p>
                <ul class="cd-buttons">
                    <li><a class="clicky" onclick="closePopup();">No</a></li>
                    <li><a href="/nameplates/{{ nameplate.slug }}/delete">Yes</a></li>                
               </ul>
               <a onclick="closePopup();" class="cd-popup-close img-replace clicky">Close</a>
            </div> <!-- cd-popup-container -->
         </div> <!-- cd-popup -->
        </p>
    </div>
    
<div class="name-plate-wrapper">
	<div class="name-plate single large">
		<div class="header">
			<div class="light-gold"></div>
			<div class="dark-gold triangle"></div>
			<div class="maroon"></div>
		</div>
							
		<div class="body has-image">				
			<div class="profile-image">
                {% if nameplate.photo %}
                    <img src="/uploads/{{ nameplate.photo }}">
                {% endif %}
            </div>				
            <div class="data">
                <h1 class="name"><span style="font-size: 40px;">{{ nameplate.person_name }}</span></h1>
                <div class="details">
                    <div class="title">{{ nameplate.title }}</div>
                    <div class="hours">
                        <h2>Office Hours:</h2>
                        {{ nameplate.hours }}<br><span></span>
                    </div>
                    <div class="email"><i class="fa fa-envelope" aria-hidden="true"></i> {{ nameplate.email }}</div>
                    <div class="phone"><i class="fa fa-phone" aria-hidden="true"></i>  {{ nameplate.phone }}</div>
                </div>
            </div>
			</div>
		
	    <div class="footer">				
		    <div class="maroon department">
                <span style="font-size: 26px;">{{ nameplate.department }}</span>
                <div class="college">
                    <span style="font-size: 15px;">{{ nameplate.college }}</span>
                </div>
            </div>
		    <div class="dark-gold triangle"></div>
		<div class="light-gold">
            <img class="footer-logo" src="{{ url_for('static', filename='umd-logo.svg') }}">
        </div>
	</div>	
</div>

</main>

<script>
    popup = document.getElementById("delete-popup")

    function thePopup() {       
        popup.classList.toggle("is-visible")
    }

    function closePopup() {
        document.getElementById("delete-popup").classList.remove('is-visible')
    }

    document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
            closePopup()
        }
    })

    popup.addEventListener('click', function (event) {
        console.log(event.target.id)
        closePopup()
    })

    document.getElementById('popContainer').addEventListener('click',function (event){
        event.stopPropagation();
    })


</script>
{% endblock %}