{% extends 'base.html' %}

{% block head %}Signup{% endblock %}

{% block body %}

<h2>New User Registration</h2>

<form action="/signup" method="POST">
	{{ form.hidden_tag() }}

	<div class="field">
		{{ form.email.label(class="required") }}
		{{ form.email(class="input", placeholder="user@example.com") }}
	</div>

	<div class="field">
		{{ form.email_confirm.label(class="required") }}
		{{ form.email_confirm(class="input", placeholder="user@example.com") }}
		{% if form.email_confirm.errors %}
			{% for error in form.email_confirm.errors %}
				<p class="form-error">{{ error }}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="field">
		{{ form.username.label(class="required") }}
		{{ form.username(class="input", placeholder="johnnydoe") }}
	</div>

	<div class="field">
		{{ form.password.label(class="required") }}
		{{ form.password(class="input", placeholder="John Doe") }}
	</div>

	<div class="field">
		{{ form.password_confirm.label(class="required") }}
		{{ form.password_confirm(class="input", placeholder="John Doe") }}
		{% if form.password_confirm.errors %}
		{% for error in form.password_confirm.errors %}
				<p class="form-error">{{ error }}</p>
			{% endfor %}
		{% endif %}
	</div>

	<div class="field">
		{{ form.submit() }}
	</div>
</form>

{% endblock %}